body {
  margin: 0 0;
  background-color: var(--cor-2);
  overflow-x: hidden;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  color: var(--cor-1);
}
a {
  transition: all 0.5s;
}
a:hover {
  color: var(--cor-4);
}

.js-fade-up {
  opacity: 0;
  transform: translate3d(0, 90px, 0);
  transition: 0.8s;
}

.ativo-scroll {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
